header{
    border: ;

}

/*.menu{
    
    float: right;
    width: 100%;
    right: 500px;
    height: 100px;
    
}*/
.hero_section{

}
.section_menu {
    
    margin-top: 70px;
    margin-left: 250px;
    padding-right: 95px;
    margin-top: 35px;
    position: absolute;
    left: 100px;
}


button{
    
    right: 200px;
    
}
.connexion {
    
    width: 80px;
    background-color: white;
    border: none;
    margin-top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

/* Brand Color / Secondary */

    color: #FF5722;


/* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 50px;
    
}
.inscription{
    right: 120px;
    width: 70px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    position: absolute;

/* Brand Color / Secondary */

    background: #FF5722;
    box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
    border: none;
}
.titre{
    float: left;
    margin-top: 30px;
    flex-direction: column;
    
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 89px;
    height: 32px;
    left: 140px;
    top: 0px;
    /*padding-left: 100px;*/
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    /*margin-right: 100px;/*
    /* identical to box height */
    /* Brand Color / Primary */
    color: #10375C;
    
}

.intro {
    
    position: absolute;
    width: 200px;
    height: 30px;
    left: 145px;
    top: 100px;


/* Body / Extra Large - Medium */

    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
/* identical to box height, or 150% */


    color: #222831;
    
    

}
/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
    margin-right: 110px;
}

.menu li
{
    margin-right: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    
    /* identical to box height, or 175% */


    /* Color / Black */

    color: #222831;
        
}

.menu a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 2,5px;
    text-decoration: none;
}

.menu a:hover
{
    color:orangered;
    border-bottom: 3px;
}

.sectionA{
    position: absolute;
    width: 1000px;
    height: 201px;
    left: 105px;
    top: 150px;

}

.sectionA h1{
    

position: absolute;
width: 500px;
height: 200px;
left: 40px;
top: 0px;
margin-top: 0px;
bottom: 30px;

/* Heading / H1 */

font-family: Lora;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 67px;

/* Brand Color / Secondary 120% */

color: #10375C;


}
.sectionA p{
    position: absolute;
    width: 340px;
    height: 150px;
    left: 730px;
    top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    /* or 150% */
    float: right;
    color: #6A6A6A;
    
}

.sectionA span{
    color:#DD2C00 ;

}

.content{
    width: 2000px;
    height: 600px;
    position: relative;
    top: 350px ;
    left: 150px;
}

.image_1{
    width: 900px;
    height: 600px;
    left: 420px;
    top: 10px;
    position: absolute;
    overflow: hidden;
}

.formulaire{
        
    position: absolute;
    width: 400px;
    height: 415px;
    left: 1px;
    bottom: 90px;
    background: #10375C;
}
input{
   


}

    .section_2{

        /* Our Space Section */
        position: absolute;
        width: 1110px;
        height: 671px;
        left: 165px;
        top: 1110px;

    }

    .head{
        /* Head */


        position: absolute;
        width: 1108.69px;
        height: 60.53px;
        left: 165px;
        top: 1110px;


    }
    .title{
        /* Title */


        position: absolute;
        

        /* Heading / H2 */

        font-family: Lora;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 51px;

        /* Brand Color / Primary */

        color: #10375C;

    }

    .subtitle{
        /* Subtitle */

        right:200px;
        top: 30px;
        position: absolute;
        width: 452px;
        height: 56px;
        left: 300px;
        


/* Body / Large - Medium */

    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
        line-height: 28px;

        color: #9A9A9A;
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #9A9A9A;
    }

    .fleches{
        position: absolute;
        width: 452px;
        height: 56px;
        left: 900px;
        top: 30px;
    }

    .slider{
        position: absolute;
        width: 1150px;
        height: 476px;
        left: 0px;
        top: 150px;
        right: 500px;
    }

    .CTA_1{
        position: absolute;
        width: 72px;
        height: 72px;
        left: 0px;
        bottom: 58px;

    }

    .P_1{
        /* CTA / Xtra Large - Bold */

        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */

        text-align: center;
        left: 100px;
        color: #222831;
        position:absolute;

    }

    .slide_2{
        /* Space 2 */


        position: absolute;
        width: 350px;
        height: 476px;
        left: 380px;
        top: 0px;
        background: #10375C;

    }

    .slide_2 h3{
        /* Private Space */


        position: absolute;
        top: 100px;
        right: 100px;
        width: 201px;
        height: 41px;
        left: 80px;
        font-family: Lora;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 41px;
        color: #FFFFFF;

    }

    .slide_2 p{
        /* Body / Large - Medium */

        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        left: 1px;
        top: 190px;
        position: relative;
        text-align: center;

    /* Color / White */

        color: #FFFFFF;

    }
    .check{
        position: relative;
        width: 255px;
        height: 72px;
        left: 1px;
        top: 285px;
        background-color: #FF5722;
        color: white;
        text-align: center;
        align-items: center;
       
    }
    .checkp{
        text-align: center;
        position: absolute;
        top: 100px;
    }

   
    .slide_3{
        position: absolute;
        width: 350px;
        height: 420px;
        left: 755px;
        top: 0px;

        
    }

    .CTA_2{
        position: absolute;
        width: 72px;
        height: 72px;
        left: 755px;
        top: 348px;
    }

    .P_2{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */
        position:absolute;
        right: 180px;


        /* Color / Black */

        color: #222831;
    }

    .nav{
        position: absolute;
        bottom: 200px;
        width: 160px;
        height: 39px;
        left: 90px;
        top: 520px;

    }

    .section_3{
        /* Whyfrispes */


        position: absolute;
        width: 1110px;
        height: 421px;
        left: 165px;
        top: 1893px; 
        
    }
    .card_whyfrispes{
        position: absolute;
        width: 540px;
        height: 421px;
        left: 562px;
        top: 0px;
        background: #10375C;
   }

    .whyfrispes{
        position: absolute;
        width: 200px;
        height: 30px;
        left: 60px;
        top: 34px;
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;

        /* identical to box height, or 150% */


        /* Color / White */

        color: #FFFFFF;
        
    }
    .titre_2{
        position: absolute;
        width: 433px;
        height: 102px;
        left: 60px;
        top: 70px;

        /* Heading / H2 */

        font-family: Lora;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 51px;

        /* Color / White */

        color: #FFFFFF;

    }

    .P_3{
        position: absolute;
        bottom: 65px;
        width: 433px;
        height: 102px;
        right: 40px;

        /* Body / Extra Large - Medium */

        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */


        /* Color / White */

        color: #FFFFFF;

    }
    .card_oursupport{
        /* Our support */


        position: absolute;
        width: 499px;
        height: 353px;
        left: 1px;
        top: 29px;
        
    }

    .support_1{
        position: absolute;
        width: 171px;
        height: 75px;
        left: 1px;
        top: 0px;
       
    }
    .support_2{
        position: absolute;
        width: 147px;
        height: 75px;
        left: 300px;
        top: 0px;
       
    }
    .support_3{
        position: absolute;
        width: 125px;
        height: 75px;
        left: 2px;
        top: 130px;
        
    }

    .support_4{
        position: absolute;
        width: 204px;
        height: 75px;
        left: 285px;
        top: 130px;
        
    }
    .support_5{
        position: absolute;
        width: 170px;
        height: 75px;
        left: 1px;
        top: 270px;


    }
    .support_6{
        position: absolute;
        width: 194px;
        height: 75px;
        left: 300px;
        top: 270px;
        

    }
    .card_oursupport h{
        position: absolute;
        width: 74px;
        height: 41px;
        left: 60px;
        top: 0px;
        bottom: 00px;

        /* Heading / H3 */

        font-family: Lora;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 41px;
        /* identical to box height */


        /* Brand Color / Primary */

        color: #10375C;

    }
.card_oursupport h3{
    /* Auto Layout */

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        position: absolute;
        width: 107px;
        height: 75px;
        left: 50px;
        top: 0px;
        bottom: 500px;
}
.card_oursupport h6{
        position: absolute;
        width: 130px;
        height: 26px;
        left: 70px;
        bottom: 0px;
        top: 10px;

        /* Body / Normal - Regular */

        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */


/* Color / Gray 1 */

color: #9A9A9A;
}

.section_4{
    position: absolute;
    width: 1148px;
    height: 649px;
    left: 153px;
    top: 2500px;
    
}
.titre_4{
    /* Heading */


    position: absolute;
    width: 1136px;
    height: 145px;
    left: 0px;
    top: 0px;
    


}

.content_2{
    /* Content */


    position: absolute;
    width: 1222px;
    height: 453px;
    left: 0px;
    top: 190px;

}
.image_4{
    position: absolute;
    width: 729px;
    height: 453px;
    left: 470px;
    top: 0px;

}
.content_2 nav ul{
    /* Facilites */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 293px;
    height: 360px;
    left: 140px;
    top: 0px;
    position: relative;
     z-index: 500;
 

}
.content_2 nav li{
    position: relative;
    width: 293px;
    height: 72px;
    left: 0px;
    list-style: none;
    top: 35px;
    padding: 10px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    

/* Color / Black */

    color: #222831;
}
.content_2 nav ul li a{
    text-decoration: none;
    color: #222831;
    height: 55px;
    width: 270px;
    position: absolute;
    left: 30px;
    top: 0px;
    text-align: center;

}

.content_2 a span{
    height: 55px;
    width: 270px;
    background-color: #FF5722;
    text-align: center;
    position: absolute;
    left: 0px;
    margin-bottom: 0px;
    color: white;
    top: 0px;
    box-shadow: 0px 8px 16px rgba(255, 87, 34, 0.32);
    border: none;
/* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 0px;

}

.rectangle_3{
    top: -30px;
    position: relative;    
}
.slide_facilities{
    position: relative;
    width: 20px;
    height: 285px;
    left: 120px;
    top: -330px;

}
.rectangle_5{
    top: -40px;
    left: -5px;
    position: relative;
}

.titre_4 p{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 203px;
    height: 30px;
    top: -10px;
    left: 22px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    /* Color / Black */

    color: #222831;

    
}
.titre_4 h2{
    position: absolute;
    width: 570px;
    height: 102px;
    left: 20px;
    

    /* Heading / H2 */

    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;

    /* Brand Color / Primary */

    color: #10375C;


}
.section_5{
    /* Gallery */


    position: absolute;
    width: 1624px;
    height: 606px;
    left: 80px;
    top: 3250px;
    

}
.titre_5 {
    /* Title */


    position: absolute;
    width: 496px;
    height: 204.41px;
    left: 979px;
    top: 0px;

}
.titre_5 p{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 203px;
    height: 30px;
    right: 270px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    /* Color / Black */

    color: #222831;
}
.titre_5 h2{
    position: absolute;
    width: 570px;
    height: 102px;
    left: 20px;
    bottom: 10px;
    

    /* Heading / H2 */

    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;

    /* Brand Color / Primary */

    color: #10375C;

}

.image_5{
   
    position: absolute;
    width: 200px;
    height: 417px;
    left: 30px;
    top:188px;
}
.image_6{
    position: absolute;
    width: 445px;
    height: 606px;
    left: 330px;
    top: 0px;

}
.image_7{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 850px;
    top: 255px;
    
}
.image_8{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 1275px;
    top: 255px;
}
.section_6{
    /* Use Frispes */


    position: relative;
    width: 1175.53px;
    height: 225.63px;
    left: 280px;
    top: 3350px;
}
.titre_6{
    position: absolute;
    width: 633px;
    height: 103px;
    left: 283px;
    top: 0px;
}
.titre_6 h2{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    position:relative;

    /* Brand Color / Primary 120% */

color: #0D2C4A;

}
.titre_6 p{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    left: 20px;
    top: -20px;
    position: relative;
    text-align: center;

    color: #9A9A9A;

  }
  .les_logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1175.53px;
    height: 66.63px;
    top: 150px;
  }
  .section_7{
      /* Customer reviews */

    position: relative;
    width: 1395px;
    height: 625px;
    left:245px;
    top: 3450px;
  }
  .titre_7{
      /* Title */


    position: absolute;
    width: 399px;
    height: 140px;
  }
  .titre_7 p{
      /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 161px;
    height: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    /* Color / Black */

    color: #222831;
  }
  .titre_7 h2{
      /* Title */
    position: absolute;
    width: 399px;
    height: 102px;

    /* Heading / H2 */

    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    top: 30px;
    color: #10375C;
  }
  .card_1{
    position: absolute;
    width: 445px;
    height: 393px;
    left: 0px;
    top: 230px;
    background: #10375C;
    
    
  }
  .card_2{
    position: absolute;
    width: 445px;
    height: 393px;
    left: 490px;
    top: 230px;
    background: #10375C;
    
  }
  .card_3{
    position: absolute;
    width: 445px;
    height: 393px;
    left: 985px;
    top: 230px;
    background: #10375C;
    
  }
  .card_1 p{
    position: absolute;
    width: 365px;
    height: 156px;
    /* Body / Normal - Regular */
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    left: 50px;
    top: 20px;
    
    color: #FFFFFF;
    
  }
  .card_2 p{
    position: absolute;
    width: 365px;
    height: 130px;
    left: 50px;
    top: 20px;
    /* Body / Normal - Regular */
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    
    color: #FFFFFF;
    
  }
  .card_3 p{
    position: absolute;
    width: 365px;
    height: 26px;
    left: 50px;
    top: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #FFFFFF;
  }
  .client_1{
    position: relative;
    width: 227px;
    height: 61px;
    top: 280px;
    left: 30px;
  }
.client_1 h3{
    position: absolute;
    width: 105px;
    height: 28px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
    top: -80px;
    left: 80px;
}
.client_1 p{
    width: 155px;
    height: 26px;
    top: 12px;
    left: 75px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    position: absolute;

}

.client_2{
    position: relative;
    width: 235px;
    height: 61px;
    top: 280px;
    left: 30px;
  }
.client_2 h3{
    width: 140px;
    height: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
    top: -80px;
    left: 80px;
}
.client_2 p{
    width: 155px;
    height: 26px;
    top: 12px;
    left: 75px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    position: absolute;
}

.client_3{
    position: relative;
    width: 235px;
    height: 61px;
    top: 280px;
    left: 30px;
  }
.client_3 h3{
    width: 140px;
    height: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
    top: -80px;
    left: 80px;
}

.client_3 p{
    width: 155px;
    height: 26px;
    top: 12px;
    left: 75px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    position: absolute;
}
.section_8{
    /* FAQ */


    position: absolute;
    width: 1120px;
    height: 423px;
    top: 5000px;
    left: 250px;
}
.titre_8{
    position: absolute;
    width: 578px;
    height: 102px;
    left: 270px;
}
.titre_8 h2{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    top: -40px;
    position: relative;

    color: #10375C;

}
.card_4{
    position: absolute;
    width: 350px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 14px 14px 14px #DFDFDF;;
    top: 140px;
}
.card_4 h4{
    /* How do I know if a space is available? */


    position: absolute;
    width: 270px;
    height: 66px;
    /* Heading / H4 */
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    left: 40px;
    color: #000000;
}

.card_5{
    position: absolute;
    width: 350px;
    height: 171px;
    background:  #FF5722;
    box-shadow: 14px 14px 14px #e2d0c0;
    top: 140px;
    left: 370px;
}
.card_5 h4{
    /* How do I know if a space is available? */


    position: absolute;
    width: 270px;
    height: 66px;
    /* Heading / H4 */
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    left: 40px;
    color: #000000;
}
.card_6{
    position: absolute;
    width: 350px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 14px 14px 14px #DFDFDF;;
    top: 140px;
    left: 750px;
}
.card_6 h4{
    /* How do I know if a space is available? */


    position: absolute;
    width: 270px;
    height: 66px;
    /* Heading / H4 */
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    line-height: 33px;
    text-align: center;
    left: 40px;
    color: #000000;
}
.more_questions{
    position: absolute;
    width: 110px;
    height: 26px;
    top: 350px;
    left: 480px;

    /* Body / Normal - Regular */

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FF5722;

}

.section_9{
    /* News insights */


    position: absolute;
    width: 1440px;
    height: 933px;
    left: 200px;
    top: 5500px;
    background-color: #F8F8F8; ;
}
.titre_9 h2{
    position: absolute;
    width: 830px;
    height: 51px;
    top: 10px;
    left: 100px;

    /* Heading / H2 */

    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;

    /* Brand Color / Primary */

    color: #10375C;

}
.titre_9 p{
    position: absolute;
    width: 66px;
    height: 26px;
    left: 1140px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FF5722;
    top: 60px;

}
.card_7{
    position: absolute;
    width: 350px;
    height: 320px;
    top: 170px;

}

.card_8{
    position: absolute;
    width: 350px;
    height: 320px;
    left: 400px;
    top: 170px;
    background-color: white;
}
.card_8 h3{
    position: absolute;
    width: 315px;
    height: 82px;
    top: 1px;
    left: 30px;
    /* Heading / H3 - Bold */

    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;

    /* Color / Black */

    color: #222831;
}
    .card_8 p{
        position: absolute;
        width: 315px;
        height: 78px;
        left: 30px;
        top: 110px;

    /* Body / Normal - Regular */

        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */


        /* Color / Gray 1 */

        color: #9A9A9A;

}
.container_1{
    position: absolute;
    width: 186px;
    height: 56px;
    top: 230px;
    left: 30px;

}
.container_1 img{
    top: 0px;
    position: absolute;
}
.container_1 h4{
    position: relative;
    left: 70px;
    top: -10px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */


    /* Brand Color / Primary */

    color: #10375C;


}
.container_1 p{
    top: -30px;
    left: 70px;
    position: relative;
}
.card_9{
    position: absolute;
    width: 350px;
    height: 320px;
    left:820px;
    top: 170px;
    background-color:white ;
    
}
.card_9 h3{
    width: 318px;
    height: 56px;
    left: 30px;
    position: relative;

    /* Heading / H3 */

    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;

    /* Color / Black */

    color: #222831;

}
.card_9 p{
    left: 30px;
    top: -18px;
    position: relative;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */


    /* Color / Gray 1 */

    color: #9A9A9A;

}

.card_10{
    position: absolute;
    width: 350px;
    height: 320px;
    left:0px ;
    top: 610px;
}
.card_10 h3{
    width: 318px;
    height: 56px;
    left: 30px;
    position: relative;

    /* Heading / H3 */

    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;

    /* Color / Black */

    color: #222831;

}
.card_10 p{
    left: 30px;
    top: -18px;
    position: relative;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */


    /* Color / Gray 1 */

    color: #9A9A9A;
}

.card_11{
    position: absolute;
    width: 350px;
    height: 320px;
    left:400px;
    top: 610px;
}
.card_11 h3{
    width: 318px;
    height: 56px;
    left: 30px;
    position: relative;

    /* Heading / H3 */

    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;

    /* Color / Black */

    color: #222831;

}
.card_11 p{
    left: 30px;
    top: -18px;
    position: relative;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */


    /* Color / Gray 1 */

    color: #9A9A9A;
}

.card_12{
    position: absolute;
    width: 350px;
    height: 320px;
    left:820px ;
    top: 610px;
}
.card_12 p{
    left: 30px;
    top: -18px;
    position: relative;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */


    /* Color / Gray 1 */

    color: #9A9A9A;
}
.card_12 h3{
    width: 318px;
    height: 56px;
    left: 30px;
    position: relative;

    /* Heading / H3 */

    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;

    /* Color / Black */

    color: #222831;
}

.section_10{
    position: absolute;
    width: 1440px;
    height: 592px;
    left: 200px;
    top: 6450px;
    background-color: #10375C;;
}
.card_15{
    position: relative;
    width: 445px;
    height: 302px;
    left: 165px;
    top: -470px;
   
}
.card_15 p{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    /* Color / Gray 4 */
    color: #F8F8F8;
    width: 429px;
    height: 60px;
    position: relative;
}
.card_15 h3{
    position: relative;
    width: 445px;
    height: 102px;
    top: -10px;
    /* Heading / H2 */
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;

    /* Color / White */

    color: #FFFFFF;

}
.card_15 button{
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 43px 114px;

    position: absolute;
    width: 400px;
    height: 45px;
    top: 342px;
    left: 1px;
    /* Brand Color / Secondary */
    background: #FF5722;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */


    /* Color / White */

    color: #FFFFFF;

}
.card_14 {
    position: relative;
    left: 800px;
    background-image: url(images/Pattern.svg);
    background-repeat: no-repeat;
}

footer{
    position: absolute;
    width: 1440px;
    height: 408px;
    top: 7040px;
    left: 200px;
    background: #0D2C4A;
}

.frispes{
    position: absolute;
    width: 1110px;
    height: 250px;
    top: 50px;
    left: 130px;
}
.about{
    position: absolute;
    width: 255px;
    height: 235px;

}
.about h1{
    position: absolute;
    width: 181px;
    height: 67px;
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 67px;
    color: #FFFFFF;
    top: -40px;

}
.about p{
    position: absolute;
    width: 255px;
    height: 104px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #F8F8F8;
    top: 60px;

    opacity: 0.85;
}

.content_3{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 730px;
    height: 220px;
    left: 510px;
    top: 80px;
}
.spaces{
    position: absolute;
    width: 143px;
    height: 220px;
    left: -70px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 68px;
}
.company{
    position: relative;
    width: 95px;
    height: 185px;
    left: 130px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 68px;
}
.support{
    position: relative;
    width: 97px;
    height: 150px;
    left: 60px;
    top: 0px;

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 68px;
    }
    .contact_us{
        position: relative;
        width: 212px;
        height: 180px;
        left: -20px;
        top: 0px;
        flex: none;
        order: 3;
        flex-grow: 0;
        margin: 0px 68px;
    }

.content_3 h4{
    position: absolute;
    width: 98px;
    height: 30px;
    left: 0px;
    top: -30px;

    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;

    opacity: 0.5;
    
}
.contact_us ul{
    position: relative;
    width: 212px;
    height: 180px;
    left: -110px;
    top: 40px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 68px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 26px;
    color: #FFFFFF;
    list-style-type:none;
    line-height: 30px;
}
.support ul{

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    top: 25px;
    left: -40px;
    position: relative;
    list-style-type:none;
    line-height: 30px;

}
.company ul{

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    top: 25px;
    left: -40px;
    position: relative;
    list-style-type:none;
    line-height: 30px;
}
.spaces ul{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    top: 25px;
    left: -40px;
    position: relative;
    list-style-type:none;
    line-height: 30px;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 104px;
    height: 24px;
    top: 220px;
    
}





































































































       






























    




